// ---------- Colors ------------ //
$color_white: #ffffff;
$color_black: #000000;
$color_main: #1e1c31;
$color_blue: #4270ec;
$color_lightBlue: #b3c7f8;
$color_lightPurple: #ecf0fc;
$color_yellow: #f0bb1f;
$color_orange: #f15a2b;
$color_green: #006380;
