.header {
  padding-top: 30px;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}
